/* Footer 129.2 warning, HOPEline, and licensee lines. The age gate keeps 9px in bond-age-gate.css. */
footer .bond-warn-box p,
footer .bond-warn-hope,
footer .bond-warn-hope a,
footer .bond-warn-license {
  font-size: 12px;
}

footer .bond-warn-hope a[href^="tel:"] {
  white-space: nowrap;
}

footer .bond-warn-lic-no {
  white-space: nowrap;
}
